#logo img {
  width: 100%;
  max-width: 12rem;
  max-height: 12rem;
}

#logo-navbar img {
  width: 2rem;
  height: 2rem;
}

#logoutlink span.badge {
  max-width:50%;
  white-space: nowrap;
  overflow:hidden !important;
  text-overflow: ellipsis;
}

#maincol h2.revision {
  font-size:1rem;
  font-weight:normal;
}

/* fix sidebar width in large screen */
@media (min-width: 992px) {
  #maincol {
    width: inherit;
    min-width: calc(100% - 18rem);
    max-width: calc(100% - 18rem);
  }

  #maincol .tabs li {
    text-align: center !important;
  }

  #sidebar {
    width: inherit;
    min-width: 18rem;
    max-width: 18rem;
  }
}
