#logo img {
  width: 100%;
  max-width: 10rem;
  max-height: 10rem;
}

#logo-navbar img {
  width: 2rem;
  height: 2rem;
}

#logoutlink span.badge {
  max-width:50%;
  white-space: nowrap;
  overflow:hidden !important;
  text-overflow: ellipsis;
}

#maincol h2.revision {
  font-size:1rem;
}

#maincol h2.revision code {
  color: inherit;
  max-width: 100%;
  white-space: nowrap;
  overflow:hidden !important;
  text-overflow: ellipsis;
}

#navbar ul.userbox span.nav-link {
  background: transparent !important;
  white-space: nowrap;
}

#sidebar .list-group-item {
  padding: 0.5rem 0.75rem;
}

/* fix sidebar width in large screen */
@media (min-width: 992px) {
  #maincol {
    width: inherit;
    min-width: calc(100% - 12.5rem);
    max-width: calc(100% - 12.5rem);
  }

  #maincol .tabs li {
    text-align: center !important;
  }

  #sidebar {
    width: inherit;
    min-width: 12.5rem;
    max-width: 12.5rem;
  }
}
